#logo {
  width: 15%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navItems {
  display: flex;
  gap: 10px;
}

.rocket-link,
.mission-link,
.profile-link {
  list-style: none;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
