.rocket-img {
  width: 25%;
}

.rocket-item {
  display: flex;
  gap: 1%;
  padding: 3%;
}

#badge {
  padding: 0 10px;
  color: #fff;
  border-radius: 7px;
  margin-right: 15px;
  background-color: darkcyan;
}
