.rocket-img {
  width: 25%;
}

.rocket-item {
  display: flex;
  gap: 1%;
  padding: 3%;
}

#badge {
  padding: 0 10px;
  border: 1px solid cadetblue;
  color: #fff;
  margin-right: 15px;
  background-color: aqua;
}
